#searchbar {
    background-color: #000000;
}

#searchbutton {
    background-color: #000000;
    color: #a0a0a0;
}

.carousel {
    width: 60%;
}

.dropdown a {
    font-size: 1.5em;
}

.dropdown-menu {
    background-color: #000000;
}

.dropdown-menu > li > a {
    color: white;
}

.page-header {
    margin-left: 2em;
}

@media (min-width: 979px) {
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }
}

.navbar-brand {
    font-size: 2.25em;
    padding-right: 2em;
}

.navbar-nav > li {
    margin-left: 4em;
    padding-right: 4em;
}

body {
    background-color: #0a0a0a;
    color: white;
}